
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  text-decoration: underline;
}

.no-padding {
  padding: 8px 16px;
}

li button {
  display: block;
  color: #fff;
  background-color: #1a73e8;
  border: 1px;
  border-radius: 4px;
  padding: 10px 25px;
  font-family: 'Google Sans' 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

li button:hover, 
li button:focus {
  opacity: 1;
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.logo-container {
  height: 300px;
  width: 80vw;
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: flex-end;
}

.logo {
  display: block;
  margin: 0 auto;
}

.search-container {
  padding: 10px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  max-width: 800px;
}

.searchbar {
  display: relative;
  align-items: center;
  margin: 0 auto;
  height: 40px;
  width: 75%;
  max-width: 600px;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
}

.searchbar:hover, 
.searchbar:focus-within {
  border-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
} 

#search-icon{
  position: absolute;
  padding: 11px 11px;
  filter: contrast(0);
  top: 10px;
  left: 110px;
  max-width: 18vw;
}

#voice-icon{
  position: absolute;
  padding: 11px 11px;
  filter: contrast(0);
  top: 10px;
  left: 665px;
  max-width: 18vw;
}

.search-button {
  display: float;
  align-items: center;
  margin: 0 auto;
  padding: 0px 16px;
  color: #3c4043; 
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  height: 36px;
  margin: 11px 4px;
  min-width: 54px;
}

.search-button:hover {
  border-color: #dadce0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.spacer {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 450px;
  width: auto;
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0px;
  background-color: #f2f2f2;
  bottom: 0;
  left: 0;
}

.location {
  display: flex;
  position: absolute;
  bottom: 53px;
  left: 0;
  background-color: #f2f2f2;
  padding: 15px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, .54);
  border-bottom: 1px solid #dadce0;
  text-decoration: none;
  width: 98.9%;
}

.footer-left {
  display: flex;
  margin-left: 10px;
}

.footer-right {
  display: flex;
  margin-right: 10px;
}

footer div a{
  color: rgba(0, 0, 0, .54);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 15px;
  background-color: #f2f2f2;
  text-decoration: none;
}

footer div a:hover {
  text-decoration: underline;
}
